section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 40px;
  max-width: 1280px;
}

.hero-search {
  padding: 8px 25px;
  border-radius: 8px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-wrapper {
  width: 180px;
}

.card-hero {
  cursor: pointer;
  width: 100%;
  height: 250px;
  margin: 15px auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-hero__name {
  font-size: 26px;
  width: 180px;
}

.card-hero__error {
  font-size: 26px;
  color: rgb(215, 0, 0);
  text-shadow: 1px 2px 1px rgb(219, 219, 10);
}

.load-more-button {
  background-color: rgb(215, 0, 0);
  text-shadow: 1px 2px 1px rgb(219, 219, 10);
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-family: unset;
  cursor: pointer;
  margin: 15px 0;
}

.login-error {
  text-align: center;
}


@media only screen and (min-width: 550px) {
  section {
    margin: 0 auto;
  }

  .hero-search {
    margin-top: 20px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .cards {
    margin: 0 8px;
  }
}
